.box-title {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.3rem;
}

.box-detail {
    opacity: 0.2;
    margin-top: 10px;
}

.box-content {
    margin-top: 20%;
}

.box-content span {
    display: block;
}