.about-page {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header.about-header {
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-header {
    margin-right: 450px;
    line-height: 50px;
    font-weight: 300;
}

h2.about-header-title {
    font-weight: 700;
}

section {
    height: 100%;
    width: 100%;
    position: sticky;
    top: 0;
}

.midt {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 1, 1);
    padding: 1rem 12rem 4rem 15rem;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: rgba(255, 255, 255, 0.1);
}

p.about-text {
    font-size: 20px;
    letter-spacing: 0.2em;
    line-height: 2;
}