.about-page {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header.about-header {
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-header {
    margin-right: 450px;
    line-height: 50px;
    font-weight: 300;
}

h2.about-header-title {
    font-weight: 700;
}

section {
    height: 100%;
    width: 100%;
    position: sticky;
    top: 0;
}

.midt {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 1, 1);
    padding: 1rem 12rem 4rem 15rem;
}

p.about-text {
    font-size: 20px;
    letter-spacing: 0.2em;
    line-height: 2;
}

.img-section {
    height: 200px;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    border-color: rgba(39, 38, 38, 0.2);
    background-color: rgba(3, 3, 3, 0.904);
}

.four-boxes {
    display: flex;
    list-style: none;
    text-align: center;
    align-content: center;
}

.four-boxes li {
    width: 25%;
    height: 200px;
}

.vl {
    border-left: 2px solid rgb(255, 255, 255, 0.1);
    height: 40px;
    margin-top: 80px;
}

.hobbies {
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    border-color: rgba(39, 38, 38, 0.2);
    background-color: rgb(1, 1, 1);
    padding: 2rem 2rem 2rem 2rem;
}

.hobbies-content h2 {
    opacity: 1;
    margin-bottom: 15px;
}

.hobbies-content h3 {
    opacity: 0.4;
    font-size: 30px;
    font-weight: 500;
}

.left-center-text {
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
}

img.tennis-img {
    padding-right: 10rem;
    height: 400px;
    object-fit: contain;
}

.VL {
    border-left: 2px solid rgb(255, 255, 255, 0.1);
    height: 400px;
}

.right-center-text {
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
}

img.tennis-img1 {
    padding-left: 10rem;
    height: 400px;
    object-fit: contain;
}