html,
body {
    height: 100%;
    font-family: "Josefin Sans", sans-serif;
}

footer {
    background-color: #000;
    color: #ffffff;
    font-size: 1.5em;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    position: relative;
    left: 0;
    bottom: 0;
    font-weight: 700;
    letter-spacing: 0.3em;
}

nav {
    padding-left: 25px;
    padding-right: 25px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    position: relative;
    vertical-align: baseline;
}

footer li {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
}

footer a {
    font-size: 17px;
    letter-spacing: 0.2em;
    line-height: 70px;
    color: #cccccc;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
    margin-left: 10px;
}

.bottomnav a:hover {
    color: rgba(247, 85, 36, 0.808);
}

p #explore {
    color: #fff;
    font-size: 30px;
    line-height: 70px;
    text-transform: uppercase;
    text-decoration: none;
}