html,
body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

.App {
    text-align: center;
}

body {
    background-color: #111;
    text-align: center;
    color: #fff;
}

* {
    color: #fff;
    text-decoration: none;
}

h2 {
    font-size: 36px;
    font-weight: 200;
    opacity: 0.5;
    letter-spacing: 0.3em;
}

h1 {
    font-size: 64px;
    font-weight: 300;
    margin-top: 5px;
    letter-spacing: 0.3em;
}

.innhold {
    padding-bottom: 200px;
    padding-top: 50px;
}

.title {
    font-size: 26px;
}

.undertittel {
    margin-top: 0;
    font-weight: 600;
    color: white;
    opacity: 1;
    font-size: 26;
}

hr {
    border: 0.8px solid white;
    opacity: 0.1;
    width: 5%;
}

hr#margin {
    margin-bottom: 200px;
}

* {
    box-sizing: border-box;
}