html,
body {
    height: 100%;
    font-family: "Josefin Sans", sans-serif;
}

#bg-image {
    opacity: 0.9;
}

.App {
    text-align: center;
}

.hjem-header {
    background-color: #1a1919;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-top: 200px;
}

body {
    background-color: #1a1919;
    text-align: center;
    color: #fff;
}

* {
    color: #fff;
    text-decoration: none;
}

h2 {
    font-size: 36px;
    font-weight: 200;
    opacity: 0.5;
    letter-spacing: 0.3em;
}

h1 {
    font-size: 64px;
    font-weight: 300;
    margin-top: 5px;
    letter-spacing: 0.3em;
}

.innhold {
    padding-bottom: 200px;
}

.bg-image {
    /* Full height */
    height: 50%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}